<div id="app-content" :scrollpos="chrome.contentScrollPosY" scrollaxis="y" :style="{'overflow': (chrome.contentAreaScrolling ? '' : 'hidden')}">
    <div id="navigation-bar" v-if="getThemeDirective('appNavigation') == 'seperate'">
        <button class="nav-item" @click="navigateBack()">
            <%- include('../svg/chevron-left.svg') %>
        </button>
        <button class="nav-item" @click="navigateForward()">
            <%- include('../svg/chevron-right.svg') %>
        </button>
    </div>

    <!-- Include App Routes -->
    <% for(var i=0; i < Object.keys(env.appRoutes).length ; i++) {%>
        <transition
                <% if(env.appRoutes[i].onEnter) {
                        %>
                    v-on:enter="<%- env.appRoutes[i].onEnter %>"
                <%
                    }
                %>
                :name="chrome.desiredPageTransition">
            <template
                v-if="<%- env.appRoutes[i].condition %>">
                <%- env.appRoutes[i].component %>
            </template>
        </transition>
    <% } %>
    <!-- Library - Made For You -->
    <transition :name="chrome.desiredPageTransition" v-on:enter="getMadeForYou()">
        <template v-if="page == 'library-madeforyou'">
            <%- include('../pages/madeforyou') %>');
            %>
        </template>
    </transition>
    <!-- Library - Artists-->
    <!-- Keybinds -->
    <transition name="wpfade">
        <template v-if="page == 'keybinds-settings'">
            <keybinds-settings></keybinds-settings>
        </template>
    </transition>

</div>